* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 3rem;
    background-color: seagreen;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2rem;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.col {
    list-style-type: none;
    width: calc((100% - 8rem) / 5 );
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yellow {
    background-color: lightyellow
}

.blue {
    background-color: lightblue;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.hidden {
    visibility: hidden;
}